<%= form_with(model: unicorn, local: true) do |form| %>
  <% if unicorn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unicorn.errors.count, "error") %> prohibited this unicorn from being saved:</h2>

      <ul>
      <% unicorn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :superpower %>
    <%= form.text_field :superpower %>
  </div>

  <div class="field">
    <%= form.label :theme_song %>
    <%= form.text_field :theme_song %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
