<p id="notice"><%= notice %></p>

<h1>Api Hellos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_hellos.each do |api_hello| %>
      <tr>
        <td><%= api_hello.name %></td>
        <td><%= link_to 'Show', api_hello %></td>
        <td><%= link_to 'Edit', edit_api_hello_path(api_hello) %></td>
        <td><%= link_to 'Destroy', api_hello, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Hello', new_api_hello_path %>
